{
  "postgres_host": "localhost",
  "postgres_port": 5432,
  "postgres_user": "user",
  "postgres_password": "password",
  "postgres_db": "database_name",
  "redis_host": "localhost",
  "redis_port": 6379,
  "redis_password": "your_redis_password",
  "redis_db": 0,
  "jwt_secret": "your_jwt_secret_key",
  "google_client_id": "",
  "google_client_secret": "",
  "google_redirect_url": ""
}
